@import url("https://fonts.googleapis.com/css2?family=Rubik&family=Source+Sans+Pro:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic&family=Reem+Kufi:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
/******

Sandy_beige: #f8ca75
Burnt_orange: #FFA07A
Deep_red: #8B0000 #a23333
Rich_brown: #A0522D
depp_ocean_blue: #1a508b
Ocean_green: #00A693  #007467
Gold: #FFD700


****/

@font-face {
  font-family: "DMSerif";
  src: url("/public/fonts/DMSerif.woff") format("woff");
}

@font-face {
  font-family: "marathon";
  src: url("/public/fonts/marathon.woff") format("woff");
}

@font-face {
  font-family: "jozoor";
  src: url("/public/fonts/jozoor.woff") format("woff");
}

@font-face {
  font-family: "mirza";
  src: url("/public/fonts/mirza.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
html,
body {
  overflow-x: hidden;
}
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #bef5e4;
  background-image: linear-gradient(147deg, #f7d9c4 0%, #e3a857 100%);
}

::-webkit-scrollbar {
  width: 5px;
}

/* TRACK */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.23);
}

/* HANDLE */
::-webkit-scrollbar-thumb {
  background: rgb(250, 227, 206);
  height: 10%;
  border-radius: 10px;
}

.header-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: none;
  transition: all 1s cubic-bezier(0.78, 0.16, 0.28, 0.99);
}

.header-overlay.open {
  display: block;
}

.navbar {
  position: absolute;
  z-index: 2000;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
}

.nav_toggle {
  border: #f5ecdc 2px solid;
  border-radius: 70%;
  padding: 2.5px 2.6px 0 3px;
  transition: all 0.3s;
}

.nav_btn {
  background-color: rgb(245, 236, 220);
  border-radius: 50%;
  padding: 0.7rem;
  font-size: 1.6rem;
  opacity: 0.9;
  transition: all 0.3s;
}
.navbar:hover .nav_btn {
  background-color: white;
}

.navbar:hover .nav_toggle {
  border: white 2px solid;
}

.bg-textured {
  background-color: #fffcfa;
  background-image: url(/public/images/noise.png);
  background-attachment: local;
  background-size: 100px 100px;
}

.navbar_nav {
  background-color: #f5ecdc;
  padding: 1rem;
  border-radius: 1.2rem;
  position: absolute;
  right: -100vw;
  top: 1.3rem;
  bottom: 20rem;
  z-index: 2000;
  width: 96.5vw;
  height: 93vh;
  transition: all 1s cubic-bezier(0.78, 0.16, 0.28, 0.99);
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.navbar_nav.open {
  right: 1.5rem;
}

.navbar_nav.left-swing {
  left: -100vw;
}
.nav_div {
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}

.navbar_nav-btn {
  background-color: white;
  border-radius: 50%;
  font-size: 1.6rem;
  padding: 0.7rem;
  font-size: 1.6rem;
  opacity: 0.9;
}

.nav-title {
  position: absolute;
  z-index: 2000;
  background-color: transparent;
  /* font-family: "Noto Naskh Arabic", serif; */
  /* font-family: "Reem Kufi", sans-serif; */
  font-family: "marathon", sans-serif;
  top: 1.2rem;
  left: 1.9rem;
  color: #f5ecdc;
  font-size: 3.2rem;
  display: inline-block;
  letter-spacing: 0.5px;
}

.dar {
  display: inline-block;
}
.nour {
  position: absolute;
  display: inline-block;
  left: 10px;
  top: 25px;
}

.container-popup {
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  width: 430px;
  background-color: #fffdf9;
  height: 520px;
  grid-column: 2/3;
  border: 1px solid #f5ecdc;
  right: -6rem;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  padding: 25px 35px;

  left: 0;
  width: 100%;
  z-index: 2;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 100%;
  text-align: center;
}

.account-head {
  position: absolute;
  top: 3rem;
  color: #ab4747;
  letter-spacing: 1px;
  font-family: "marathon", sans-serif;
  font-size: 4rem;
}

input {
  border: 1px solid #f5ecdc;
  border-radius: 30px;
  padding: 12px 15px;
  margin: 8px 0;
  width: 95%;
  color: #4e4341cc;
  font-family: "cairo", sans-serif;
}

.popup-btn {
  border-radius: 30px;
  font-family: "cairo", sans-serif;
  background-color: #ab4747;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.3s;
  cursor: pointer;
}

.popup-btn:hover {
  background-color: #fffdf9;
  color: #ab4747;
}

.popup-btn:active {
  transform: scale(0.95);
}

.popup-btn:focus {
  outline: none;
}

.popup-btn.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.input-para {
  position: absolute;
  bottom: 4.5rem;
  color: #4e4341cc;
  font-family: "cairo", sans-serif;
  font-size: 0.93rem;
}

.input-link {
  color: #4e4341cc;
}

.page_links {
  grid-column: 1/2;
  grid-row: 1;
  position: absolute;

  left: 9rem;
  width: 400px;
  height: 520px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* border: 1px solid #f5ecdc; */
  /* border-radius: 1rem; */
}
.page_link {
  margin-top: 0.5rem;
  display: block;
  text-decoration: none;
  text-align: center;
  color: #4e4341cc;
  transition: all 0.3s;
  border-bottom: 1px solid #f5ecdc;
  letter-spacing: 1px;
  font-family: "marathon", sans-serif;
  font-size: 5.5rem;
}

.accriditation {
  font-family: "cairo", sans-serif;
  color: #ab4747;
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.maker {
  font-weight: bold;
  color: #ab4747;
}
.socials {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.social-header {
  font-size: 1.2rem;
  font-family: "cairo", sans-serif;
  color: #ab4747;
  margin-bottom: 0.2rem;
}
.social {
  cursor: pointer;
  font-size: 1.2rem;
  color: #4e4341cc;
  transition: all 0.3s;
  margin-right: 0.3rem;
}

.page_link:hover,
.social:hover,
.social:active {
  color: #ab4747;
}

/**
***prods***
*/

/* main {
  height: 80vh;
  width: 85vw;
  margin: 5rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
main .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main .hero-left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .hero-left button {
  position: absolute;
  padding: 10px 5px 5px 5px;

  margin: 10px;
  border: none;
  clip-path: circle();
  color: rgba(0, 0, 0, 0.815);
  font-size: 2rem;
  cursor: pointer;
  z-index: 2;
}
main .hero-left button:last-of-type {
  right: 0;
}
main .hero-left button:active {
  transform: scale(0.9);
}
main .hero-left .layers {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
main .hero-left .layers .layer {
  display: grid;
  grid-template-rows: 6rem 3fr 1fr;
  background-color: white;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition-delay: 0.5s;
  transform: translateX(100%);
  opacity: 0;
}
main .hero-left .layers .layer-displayed {
  transform: translateX(0);
  opacity: 1;
  z-index: 1;
}
main .hero-left .layers .layer-displayed-exit {
  transform: translateX(-100%);
  opacity: 0;
  z-index: 1;
}
main .hero-left .layers .layer > span {
  font-family: "DMSerif", sans-serif;
  text-align: center;

  font-size: 4rem;
  font-weight: bold;
}
main .hero-left .layers .layer__image {
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center center;
}
main .hero-left .layers .layer__info {
  font-family: "Open Sans", sans-serif;
  color: rgba(0, 0, 0, 0.815);
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 13px;
}
main .hero-left .layers .layer__info div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .hero-left .layers .layer__info div:first-child {
  align-items: flex-end;
  color: gray;
}
main .hero-left .layers .layer__info div:last-child {
  font-weight: bold;
}
main .hero-left .layers .layer:nth-child(1) > span {
  color: #6e8ca0;
}
main .hero-left .layers .layer:nth-child(2) > span {
  color: #328964;
}
main .hero-left .layers .layer:nth-child(3) > span {
  color: #dc9750;
}
main .hero-right {
  grid-column: 2;
  position: relative;
  overflow: hidden;
}
main .hero-right > .layer {
  background-color: #6e8ca0;
  transform: translateX(100%);
  transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition-delay: 0.5s;
}
main .hero-right > .layer-displayed {
  transform: translateX(0);
  z-index: 2;
}
main .hero-right > .layer-displayed-exit {
  transition-delay: 1s;
  transition-duration: 0;
  z-index: 1;
}
main .hero-right > .layer:nth-child(1) {
  background-color: #6e8ca0;
}
main .hero-right > .layer:nth-child(2) {
  background-color: #328964;
}
main .hero-right > .layer:nth-child(3) {
  background-color: #dc9750;
}

main .hero-right .photo-frame {
  position: absolute;
  overflow: hidden;
  animation-play-state: paused;
}
main .hero-right .photo-frame:nth-child(4) {
  top: 10%;
  left: 10%;
  width: 40%;
  height: 40%;
  z-index: 3;
}
main .hero-right .photo-frame:nth-child(4) .cover {
  background-color: rgba(0, 0, 0, 0.815);
}
main .hero-right .photo-frame:last-child {
  top: 40%;
  left: 20%;
  width: 65%;
  height: 50%;
  z-index: 2;
}
main .hero-right .photo-frame .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.671);
  transition: width 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
main .hero-right .photo-frame .layer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition-delay: 0.5s;
}
main .hero-right .photo-frame .layer-displayed {
  opacity: 1;
}

@keyframes cover {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  95% {
    width: 0;
  }
  100% {
    width: 0;
  }
} */
